/*@import "bootstrap";*/

body {
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
}

a img {
  border: none;
}

a#logo.navbar-brand {
  width: 284px;
  height: 48px;
  background: url('/assets/logo.png') no-repeat;
}


/* error */
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

/* Land plot table */

.lp {
  font-size: 0;
  display: table-cell;
  width: 50px;
  height: 80px;
  text-align: center;
  border-top: 1px solid white;
  border-left: 1px solid white;
  margin: 0;
}

.lp_row {
  font-size: 0;
  display: table;
  width: 50px;
  height: 80px;
  text-align: center;
  border-top: 1px solid white;
  border-left: 1px solid white;
  margin: 0;
}


.lp_av {
  background-color: #81A489;
  color: white;
}

.lp_dr {
  background-color: #F2A054;
  color: white;
}

.lp_cs {
  background-color: #D26676;
  color: white;
}

.lp_tr {
  background-color: #F1D8B5;
  color: white;
}

.lp_garden {
  background-color: green;
  width: 300px;
  font-size: 12pt;
  color: white;
  text-align: center;
}

.legend {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: 1px;
}

.legend_box{
  border: 1px solid black;
  float: right;
  padding: 5px;
  margin-right: 20px;
}

a.lp_link {
  font-size: 14pt;
  text-decoration: none;
  color: white;
}

.lp_desc_left {
  font-size: 9pt;
  font-weight: bold;
  color: black;
  background-color: #0099FF;
}

.lp_desc_right {
  font-size: 10pt;
  color: black;
}

#table-map{
  width: 80%;
}

.td-group{
  background-color: white;
  padding-bottom: 25px;
}
