@import "bootstrap";

body {
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  margin: 0;
}

input, select, textarea {
  width: 300px;
  height: auto;
  font-size: 16pt;
}

a img {
  border: none;
}

a#logo.navbar-brand {
  width: 284px;
  height: 48px;
  background: url('/assets/logo.png') no-repeat;
}


/* error */
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group.error;
}


/* Land plot table */

.lp {
  font-size: 16pt;
  display: inline-table;
  width: 50px;
  text-align: center;
  height: 100%;
}

.lp_available {
  background-color: #C04D31;
  color: white;
}

.lp_deposit {
  background-color: #F2A054;
  color: white;
}

.lp_transfer {
  background-color: #F1D8B5;
  color: white;
}

.lp_complete {
  background-color: #81A489;
  color: white;
}

.legend {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: 1px;
}

a.lp_link {
  text-decoration: none;
  color: white;
}

.lp_desc {
  font-size: 10pt;
  text-align: right;
  color: black;
}

.disable .lp_desc {
  color: #CCC;
}

#table-map{
  width: 100%;
}

.space-bottom{
  padding-bottom: 20px;
}

.td-group{
  background-color: white;
  padding: 5px 5px 20px 5px;
  border-spacing: 2px;

}
