<h2>Summary Report</h2>
<table class="table table-bordered">
	<tr>
		<th>Status</th>
		<th>Number</th>
	</tr>
	<% @statuses.each do |st| %>
		<tr>
			<td><%= st.name %></td>
			<td><%= st.plots.count %></td>
		</tr>
	<% end %>	
	<tr>
		<td align="right"><b>Total:</b></td>
		<td><%= @plot_count %></td>
	</tr>
</table>