<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="container">
	  <div class="navbar-header">
	    <%= link_to "", map_path(1), {id: "logo", class: 'navbar-brand'}%>
	  </div>
  </div>
 </nav>